[Unit]
Description=Windmaker Infiniterecorder
Wants=network-online.target
After=nss-lookup.target
After=network-online.target
ConditionPathExists=/etc/default/windmaker-infiniterecorder

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/windmaker-infiniterecorder
Restart=always

[Install]
WantedBy=multi-user.target
